{% load static %}

<h1> {{ question.question_text }} </h1>

<form method="get" action="{% url 'answer_singlechoice_question:verify' question.id %}"><br>


    <input id="answer_1" type=radio value=1 name="checks">
    <label for="answer_1"> {{ question.answer_text1 }}</label><br>

    <input id="answer_2" type=radio value=2 name="checks">
    <label for="answer_2"> {{ question.answer_text2 }}</label><br>

    <input id="answer_3" type=radio value=3 name="checks">
    <label for="answer_3"> {{ question.answer_text3 }}</label><br>

    <input id="answer_4" type=radio value=4 name="checks">
    <label for="answer_4"> {{ question.answer_text4 }}</label><br>

    <input id="verifyAnswer" type=submit value="Fertig" name="submit">

</form>