<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
     <link rel="stylesheet"  href="{% static '/quiz/style.css' %}">
    <meta charset="UTF-8">
<style>
        @media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
    </style>

</head>
<body>
<script>

    function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
        <div id="webseite" >
            <div id="header">
                <h2> DJANGO UNCHAINED </h2>
                <ul class="topnav" id="myTopnav">
                    <li><a href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left"></span></a></li>
                  <li><a href="#home" onclick="location.href='/quiz/';">Hauptmenü</a></li>
                  <li><a href="#news" onclick="location.href='/quiz/course_select/';">Quiz spielen</a></li>
                  <li><a href="#about" onclick="location.href='/quiz/settings/';">Quiz Einstellungen</a></li>
                    <li><a href="javascript:history.forward()"><span class="glyphicon glyphicon-arrow-right"></span></a></li>
                  <li class="icon">
                    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                  </li>
                </ul>
            </div>
            <div id="main">
                <div id="inhalt">
                    <br>
                    <h2 class="form-signin-heading">Wahlen Sie einen Fragetypen für ihr Quiz aus</h2>

                        <form method="post">
                          <!--  <input type="submit" value="single" name="single">-->
                            <input id="auswahl" type="submit" value="Begriffs Frage" name="essay">
                            <input id="auswahl" type="submit" value="MultipleChoice Frage" name="multi">
                            <input id="auswahl" type="submit" value="WahrFalsch Frage" name="truefalse">
                        </form>

                        <form id="QuestionForm" method="post">
                            <h3>{{ Question }}</h3>
                            {% for field in form.visible_fields %}
                            {{field.errors}}
                            {{field.help_text}}{{field}}

                            {% endfor %}

                            {% if a %}
                            <h5>Welche Antwort ist richtig ?</h5>

                        <select name="drop" size="4" required>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>

                            </select><br>
                            {% endif %}
                            {% if b%}
                            <h5>Ist die Aussage/Frage Wahr oder Falsch?</h5>
                            <br>
                            <select name="drop" size="2" required>
                                <option>True</option>
                                <option>False</option>
                            </select><br>
                            {% endif %}
                            <input type="submit" name="submit" value="speichern"/>
                            <input type="submit" name="done" value="fertig" onclick="location.href='/quiz/';">
                            <br><br>
                        </form>
                </div>
            </div>
            <div id="footer">

            </div>
        </div>


</body>
</html>