<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
     <link rel="stylesheet"  href="{% static '/quiz/style.css' %}">
    <meta charset="UTF-8">
    <title>Update Question</title>
<style>
        @media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
    </style>

</head>
<body>
<script>

    function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
        <div id="webseite" >
            <div id="header">
                <h2> DJANGO UNCHAINED </h2>
                <ul class="topnav" id="myTopnav">
                    <li><a href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left"></span></a></li>
                  <li><a href="#home" onclick="location.href='/quiz/';">Hauptmenü</a></li>
                  <li><a href="#news" onclick="location.href='/quiz/course_select/';">Quiz spielen</a></li>
                  <li><a href="#about" onclick="location.href='/quiz/settings/';">Quiz Einstellungen</a></li>
                    <li><a href="javascript:history.forward()"><span class="glyphicon glyphicon-arrow-right"></span></a></li>
                  <li class="icon">
                    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                  </li>
                </ul>
            </div>
            <div id="main">
                <div id="inhalt">
                    <br>
                    <h2>Fragen bearbeiten</h2>
                    <ul>
                        <form type="get" action="." style="margin: 0">
                            <input id="search_box" type="text" name="search_box" placeholder="Fragen durchsuchen..." >
                            <input id="search_submit" type="submit" value="Suchen" name="Suchen" >
                            <button  id="zuruck" value="Suche zurücksetzen" href="/quiz_select/">Suche zurücksetzen</button>
                        </form>
                        <br>
                        {% for TFQuestion in tquestion %}
                            {{ TFQuestion.tf_question_text }}
                            <input type="button" onclick="location.href='/quiz/delete_tfquestion/{{TFQuestion.id}}/'" value="Löschen"/>
                            <input type="button" onclick="location.href='/quiz/add_question/{{TFQuestion.id}}/'" value="Umbenennen"/>
                            <br>
                        {% endfor %}
                        {% for EssayQuestion in equestion %}
                            {{ EssayQuestion.essay_question_text }}
                            <input type="button" onclick="location.href='/quiz/delete_essayquestion/{{EssayQuestion.id}}/'" value="Löschen"/>
                            <input type="button" onclick="location.href='/quiz/add_question/{{EssayQuestion.id}}/'" value="Umbenennen"/>
                            <br>
                        {% endfor %}
                        {% for SingleChoiceQuestion in squestion %}
                            {{ SingleChoiceQuestion.single_question_text }}
                            <input type="button" onclick="location.href='/quiz/delete_singlechoicequestion/{{SingleChoiceQuestion.id}}/'" value="Löschen"/>
                            <input type="button" onclick="location.href='/quiz/add_question/{{SingleChoiceQuestion.id}}/'" value="Umbenennen"/>
                            <br>
                        {% endfor %}
                        {% for MultipleChoiceQuestion in mquestion %}
                            {{ MultipleChoiceQuestion.multi_question_text }}
                            <input type="button" onclick="location.href='/quiz/delete_multiplechoicequestion/{{MultipleChoiceQuestion.id}}/'" value="Löschen"/>
                            <input type="button" onclick="location.href='/quiz/add_question/{{MultipleChoiceQuestion.id}}/'" value="Umbenennen"/>
                            <br>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="footer">
            </div>
        </div>
</body>